@page "/fizzbuzz"

<div class="container-xxl my-5">
    <h3>Solve the FizzBuzz challenge</h3>
    <p>
        Enter your values, press the button, and see the FizzBuzz results below!
    </p>
    <EditForm Model="fizzBuzz">
        <DataAnnotationsValidator />
        <div class="border border-secondary-subtle rounded p-4">
            <div class="row row-cols-1 row-cols-md-3 align-items-start">
                <div class="col mt-2">
                    <label for="fizzValue" class="form-label">
                        Fizz Value
                    </label>
                    <InputNumber id="fizzValue" class="form-control" @bind-Value="fizzBuzz.FizzValue" aria-describedby="fizzHelp" aria-label="Fizz Value" placeholder="Enter a fizz value" />
                    <div id="fizzHelp" class="form-text text-muted">
                        Replaces multiples of this number with "Fizz"
                    </div>
                    <ValidationMessage For="@(() => fizzBuzz.FizzValue)" />
                </div>
                <div class="col mt-2">
                    <label for="buzzValue" class="form-label">
                        Buzz Value
                    </label>
                    <InputNumber id="buzzValue" class="form-control" @bind-Value="fizzBuzz.BuzzValue" aria-describedby="buzzHelp" aria-label="Buzz Value" placeholder="Enter a buzz value" />
                    <div id="buzzHelp" class="form-text text-muted">
                        Replaces multiples of this number with "Buzz"
                    </div>
                    <ValidationMessage For="@(() => fizzBuzz.BuzzValue)" />
                </div>
                <div class="col mt-2">
                    <label for="stopValue" class="form-label">
                        Stop Value
                    </label>
                    <InputNumber id="stopValue" class="form-control" @bind-Value="fizzBuzz.StopValue" aria-describedby="stopHelp" aria-label="Stop Value" placeholder="Enter a stop value" />
                    <div id="stopHelp" class="form-text text-muted">
                        The limit of numbers to evaluate
                    </div>
                    <ValidationMessage For="@(() => fizzBuzz.StopValue)" />
                </div>
            </div>
            <div class="row">
                <div class="col text-end mt-2">
                    <button type="submit" class="btn btn-primary" aria-label="Generate FizzBuzz results">
                        Generate
                    </button>
                </div>
            </div>
        </div>
    </EditForm>
</div>

@code {
    private FizzBuzzModel fizzBuzz = new();
}