@page "/"

<PageTitle>FizzBuzzBlazor - Home</PageTitle>

<div class="page-style h-100 d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-xl-2 container-xxl h-100">
        <div class="col d-flex flex-column justify-content-xl-center order-last order-xl-first">
            <div class="title">FizzBuzz: A Coding Challenge built with Blazor</div>
            <div class="sub-title">
                Showcasing modern web development skills through a classic coding challenge
            </div>
            <div class="mt-3">
                <h4>What is FizzBuzz?</h4>
                <p>FizzBuzz is a classic coding challenge often used in technical interviews. The task is simple: for each number from 1 to a given limit, display 'Fizz' if the number is divisible by one value, 'Buzz' if divisible by another, and 'FizzBuzz' if divisible by both. This app lets you input your own values and explore how the FizzBuzz logic works.</p>
            </div>
            <div class="mt-3">
                <button type="button" class="rounded btn btn-primary">Try it Out!</button>
            </div>
            <div class="mt-3">
                Built with pride using:
                <div class="hstack my-2">
                    <div><i class="devicons devicon-csharp-plain colored me-1"></i></div>
                    <div><i class="devicons devicon-bootstrap-plain colored me-1"></i></div>
                    <div><i class="devicons devicon-blazor-original colored me-1"></i></div>
                    <div><i class="devicons devicon-html5-plain colored me-1"></i></div>
                    <div><i class="devicons devicon-css3-plain colored me-1"></i></div>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column justify-content-center">
            <img src="/img/fizzbuzzTitleLogo.png" class="img-fluid" />
        </div>
    </div>
</div>